@model UserVM

<form action="/Home/Index" method="post">

    @Html.TextBoxFor(s => s.Name)
    @Html.ValidationMessageFor(s => s.Name)
    <br>
    @Html.TextAreaFor(s => s.Email)
    @Html.ValidationMessageFor(s => s.Email)
    <br>
    @Html.TextAreaFor(s => s.Age)
    @Html.ValidationMessageFor(s => s.Age)
    <br>
    @Html.TextAreaFor(s => s.Password)
    @Html.ValidationMessageFor(s => s.Password)
    <br>
    @Html.TextAreaFor(s => s.ConfirmPassword)
    @Html.ValidationMessageFor(s => s.ConfirmPassword)
    <br>
    <input type="submit" value="Gonder">
</form>